body {
    font-family: Monaco, Andale Mono, Courier New, monospace;
}

.background_img_main{
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    z-index: -1;
    background: url("../../static/img/IMAG0763.jpg") no-repeat;
    background-size: 100% 100%;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}

.container{
    position: absolute;
    background-color: transparent;
    width:100%;
    height: 100%;
    padding: 0;
    left:0%;
    top:0%;
}
.content{
    position:absolute;
    width:90%;
    left:10%;
    height: 100%;
    background-color: transparent;
}

.main_menu{
    width:10%;
    left:0%;
    position:absolute;
    height: 100%;
    background-color: #2c3e50;
}
.main_menu:hover{
    box-shadow: 0px 0px 10px grey;
}

.menu{
    width:99%;
    position:relative;
    vertical-align:middle;
    display:inline-block;
    font-family: 'Roboto Condensed';
    font-size: 16px;
    transform:translate3d(0,0,0);
    opacity:0.9;
}
.menu input{
  position:absolute;
  left:-9999px;
}
.menu:hover{
    opacity:1;
}

.menu #togglemenu:checked ~ ul {
  max-height:200px;
  padding-bottom:1em;
}
.togglemenu {
    background: #2c3e50;
    color: rgb(26,188,156);
    display: block;
    padding: 0.4em;
    text-align: center;
    cursor:pointer;
    font-family: 'entypo', sans-serif;
}

/*.togglemenu:hover{*/
    /*box-shadow: 5px 0px 5px aqua;*/
        /*box-shadow: inset 300px 0 300px -300px rgba(255, 255, 255, 0.6);*/
/*}*/

.togglemenu:before{
  content: "\2630";
  font-size:1.5em;
  vertical-align:middle;
}

.menu ul{
    /*list-style-type:none*/
    margin-top:2px;
    text-align:left;
    max-height:0px;
    overflow:hidden;
    /*padding-bottom:0;*/
    padding: 0;
    transition:300ms ease all;
}

.menu li{
  margin-bottom:1px;
  position:relative;
  z-index:10;
  transition:350ms ease all;
}

.menu li a {
    display: block;
    position:relative;
    width:100%;
    padding: 1em;
    text-align: center;
    background: #2c3e50;
    text-decoration: none;
    color:rgb(26,188,156);
    box-sizing:border-box;
    transition:300ms ease all;
}

.menu li:hover a {
    width:99%;
    margin-left:1%;
    box-shadow: inset 300px 0 300px -300px rgba(255, 255, 255, 0.6);
}

.menu li:before {
    content: "";
    position: absolute;
    width: 50%;
    height: 30%;
    left: 1%;
    bottom: 16px;
    box-shadow: 10px 0 0px black;
    transition:300ms ease all;
    transform: rotate(0deg);
}

.menu li:hover:before {
    box-shadow: 10px 0 30px black;
    transform: rotate(-5deg);
    bottom: 6px;
}

.menu li:hover + li{
  z-index:1;
}

.svg-wrapper {
    position: absolute;
    top: 25%;
    left: 25%;
    transform: translateY(50%);
    margin: 0 auto;
    width: 500px;
    height: 100px;
    transition:500ms ease all;
}

.shape {
    position: relative;
  stroke-dasharray: 250 1000;
  stroke-dashoffset: 543;
  stroke-width: 5px;
  fill: transparent;
  stroke: #19f6e8;
  border-bottom: 10px solid black;
  transition: stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s;
}

.content-title {
    font-family: 'Roboto Condensed';
    font-size: 28px;
    line-height: 32px;
    letter-spacing: 5px;
    color: rgb(26, 188, 156);
    top: -20%;
    left: 20%;
    position: absolute;
    font-weight: bolder;
    width: 480px;
}

.svg-wrapper:hover .shape {
  stroke-width: 5px;
  stroke-dashoffset: 0;
  stroke-dasharray: 1200;
}

.svg-wrapper:hover{
    box-shadow: 10px 10px 10px #2c3e50;
    transition:500ms ease all;

}

.shrink {
    width: 40px;
    height: 1px;
    transition:500ms ease all;

}

.main_menu:hover{
    width:10%;
    left:0%;
    position:absolute;
    height: 100%;
    transition:500ms ease all;
}

.info{
    align-content: center;
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    top:90%;
    bottom:0;
    right: 2%;
}

.row_top15{
    margin-top: 15px;
}

.main_text{
    color:rgb(26,188,156);
}
.panel_{
    margin-top:15%;
    color:rgb(26,188,156);
    background-color: transparent!important;
}
.panel_header{
    background-color: #3C495B!important;
    color:rgb(26,188,156)!important;
}

.error_{
    color:lightcoral;
}

.cloud{
      color: rgb(26,188,156);
}
.cloud_gist{
    color: lightcoral;
  left: -9%;
  position: absolute;
  font-size: 80px;
  top: 20%;
}