/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
}

bodydiv{
     transition:1500ms ease all;
}

.background_img{
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    z-index: -1;
    background: url("../../static/img/blurredbackground11.jpg") no-repeat;
    background-size: 100% 100%;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}
/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}


/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}

svg {
  font: 10px sans-serif;
}

.line {
  fill: none;
  stroke: #000;
  stroke-width: 1.5px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.options_single{
    width: 100%;
    height: 30px;
    border: 1px solid lightblue;
}

.options_multiple{
    width: 100%;
    height: 200px !important;
    border: 1px solid lightblue;
}

/* D3 Related */
.chart div {
  font: 10px sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.main_content {
  left: 15%;
  top: 25px;
  /*box-shadow: 1px 5px 30px lightcoral;*/
  background-color: #FFFFFF;
}

.toggle_side_menu {
      left: 106px;
      position: relative;
      top: -15px;
      color:#428bca;
    transition:350ms ease all;
}

.spinner{
    position: relative;
    left: 40%;
    top: 50%;
    /*color: #2c3e50;*/
    color: white;
    opacity: 1.0;
   /* box-shadow: 10px 10px 10px #2c3e50;*/
}

.spinner_container{
    top:0;
    left:0;
    bottom:0;
    right: 0;
    width:100%;
    height:100%;
    background:dimgrey;
    position: fixed;
    opacity:0.6;
    z-index: 20;
}

.successful_prediction>td{
    font-weight: bold;
    /*border: 2px solid green;*/
}

.col_top20{
    top:20px;
}

.col_top50{
    top:50px;
}

.col_margin20{
    margin-top: 20px;
    margin-bottom: 20px;
}