<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock title %}</title>

    {% block scripts %}
    {% endblock scripts %}
</head>
<body>
{% block body %}
    {% block menu %}
    {% endblock menu %}
    {% block content %}
    {% endblock content %}
{% endblock body %}
</body>
</html>