<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Dashboard</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/bootstrap-3.3.1-dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/css/SentiFeedDashboard.css" rel="stylesheet">
     <link rel="stylesheet" href="../static/js/others/c3-master/c3.css">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <!--<script src="../../assets/js/ie-emulation-modes-warning.js"></script>-->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script type="text/javascript" src="../static/js/others/jquery-1.11.2.min.js"></script>
    <script type="text/javascript" src="../static/js/others/d3-master/d3.min.js"></script>
     <script type="text/javascript" src="../static/js/others/c3-master/c3.js"></script>
</head>

<body>
<div class="background_img"></div>
<div class="row">
<div class="col col-md-12 col-xs-12">
<nav class="navbar navbar-inverse navbar-fixed-top" id="navbar_top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">gist cloud</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
             <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
              <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </a>
            <ul class="nav navbar-nav navbar-right" id="settings_right">
                <li><a href="#"><span class="glyphicon glyphicon-user" aria-hidden="true" id="home">&nbsp;Welcome {{ user.username }}</span></a></li>
                <li><a href={%  url 'gistcloud.views.logout_view' %}><span class="glyphicon glyphicon-log-out" aria-hidden="true" id="home">&nbsp;Logout</span></a></li>
                <li><a href={%  url "gistcloud.views.home"  %}><span class="glyphicon glyphicon-home" aria-hidden="true" id="home">&nbsp;Home</span></a>
                </li>
            </ul>
{#            <form class="navbar-form navbar-right">#}
{#                <input type="text" class="form-control" placeholder="Search...">#}
{#            </form>#}
        </div>
    </div>
</nav>
</div>
</div>
<div class="row">
<div class="col col-md-12 col-xs-12">
<div class="container-fluid content">
    <div class="row">
    {% block side_menu %}
        <div class="col col-xs-1 col-md-1 sidebar" id="menus">
            <ul class="nav nav-sidebar" id="master_side_menu" style="cursor: pointer;">
                <li><span class="fa fa-caret-square-o-left toggle_side_menu" onclick="toggelSideMenu(this)"></span></li>
                <li></li>
                <li></li>
                <li id="task_info" onclick="changeMenuItem(this)">
                    <a href="#task_info">Task Info<span class="fa fa-info-circle pull-right"></span></a><span class="sr-only">(current)</span></a>
                </li>
                <li id="data_sets" onclick="changeMenuItem(this)"><a href="#data_sets">Data Sets <span class="fa fa-database pull-right"></span></a></li>
                <li id="results" onclick="changeMenuItem(this)"><a href="#results">Results <span class="fa fa-table pull-right"></span></a></li>
                <li id="trial" onclick="changeMenuItem(this)"><a href="#trial">Trial<span class="fa fa-flask pull-right"></span></a></li>
                <li id="tweet_utils" onclick="changeMenuItem(this)"><a href="#tweet_utils">Utils<span class="fa fa-wrench pull-right"></span></a></li>
            </ul>
        <ul class="nav nav-sidebar" id="master_side_menu_short" style="display:none;cursor: pointer;">
                <li><a style="padding: 12px;"><span class="fa fa-caret-square-o-right fa-2x" onclick="toggelSideMenu(this)"></span></a></li>
                <li></li>
                <li></li>
                <li id="task_info" onclick="changeMenuItem(this)">
                    <a style="padding: 11px;" href="task_info"><span class="fa fa-info-circle fa-2x"></span></a><span class="sr-only">(current)</span></a>
                </li>
                <li id="data_sets" onclick="changeMenuItem(this)"><a href="data_sets" style="padding: 11px;"><span class="fa fa-database fa-2x"></span></a></li>
                <li id="results" onclick="changeMenuItem(this)"><a href="#results" style="padding: 11px;"><span class="fa fa-table fa-2x"></span></a></li>
                <li id="trial" onclick="changeMenuItem(this)"><a href="#trial" style="padding: 11px;"><span class="fa fa-flask fa-2x"></span></a></li>
                <li id="tweet_utils" onclick="changeMenuItem(this)"><a href="#tweet_utils" style="padding: 11px;"><span class="fa fa-wrench fa-2x"></span></a></li>
            </ul>
        </div>
    {% endblock side_menu %}
        {% block main_content %}
            {{ Content }}
    <div id="alert_placeholder" style="z-index: 1000; left: 0%; position: absolute; width:100%;">
        </div>
    <div class="col-md-10 col-xs-10 main main_content" style="left:15%;" id="content">
        <h1 class="page-header" id="dashboard_title">Main</h1>
        <div class="panel panel-primary" style="padding: 50px;" id="diagrams_container">
            <defs>
                <clipPath id="clip">
                    <rect width="950" height="90"></rect>
                </clipPath>
            </defs>
            <div class="row placeholders">
            </div>
        </div>
    </div>
        {% endblock main_content %}
    </div>
</div>
</div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<link rel="stylesheet" type="text/css" href="../static/js/others/chosen_v1.4.2/chosen.css">
<link rel="stylesheet" type="text/css" href="../static/css/font-awesome-4.3.0/css/font-awesome.min.css">
<script type="text/javascript" src="../static/js/others/chosen_v1.4.2/chosen.jquery.js"></script>
<script type="text/javascript" src="../static/js/SentiFeed.js"></script>
<script type="text/javascript" src="../static/js/SentiFeedDashboard.js"></script>
{% comment %}
<div id="global-zeroclipboard-html-bridge" class="global-zeroclipboard-container"
     style="position: absolute; left: 0px; top: -9999px; width: 15px; height: 15px; z-index: 999999999;" title=""
     data-original-title="Copy to clipboard">
    <object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" id="global-zeroclipboard-flash-bridge" width="100%"
            height="100%">
        <param name="movie" value="/assets/flash/ZeroClipboard.swf?noCache=1420965003846">
        <param name="allowScriptAccess" value="sameDomain">
        <param name="scale" value="exactfit">
        <param name="loop" value="false">
        <param name="menu" value="false">
        <param name="quality" value="best">
        <param name="bgcolor" value="#ffffff">
        <param name="wmode" value="transparent">
        <param name="flashvars"
               value="trustedOrigins=getbootstrap.com%2C%2F%2Fgetbootstrap.com%2Chttp%3A%2F%2Fgetbootstrap.com">
        <embed src="/assets/flash/ZeroClipboard.swf?noCache=1420965003846" loop="false" menu="false" quality="best"
               bgcolor="#ffffff" width="100%" height="100%" name="global-zeroclipboard-flash-bridge"
               allowscriptaccess="sameDomain" allowfullscreen="false" type="application/x-shockwave-flash"
               wmode="transparent" pluginspage="http://www.macromedia.com/go/getflashplayer"
               flashvars="trustedOrigins=getbootstrap.com%2C%2F%2Fgetbootstrap.com%2Chttp%3A%2F%2Fgetbootstrap.com"
               scale="exactfit">
    </object>
</div>
{% endcomment %}
<svg xmlns="http://www.w3.org/2000/svg" width="200" height="200" viewBox="0 0 200 200" preserveAspectRatio="none"
     style="visibility: hidden; position: absolute; top: -100%; left: -100%;">
    <defs></defs>
    <text x="0" y="10"
          style="font-weight:bold;font-size:10pt;font-family:Arial, Helvetica, Open Sans, sans-serif;dominant-baseline:middle">
        200x200
    </text>
</svg>
</body>
</html>