{% extends "masterpage.html" %}
{% block title %} {{ title }} gistcloud.io
{% endblock title %}
{% block head %}
    {% load static from staticfiles %}
    <link rel="stylesheet" href="../static/css/SentiFeed.css" type="text/css"/>

{% endblock head %}
{% block container %}
    <div class="row" style="height: 100%;">
        <div class="background_img_main"></div>
        <div class="col col-md-12" style="height: 100%;">
            <div class="row" style="top:30%;position: relative;">
            <div class="col col-md-3 col-md-offset-3">
                <div class="svg-wrapper">
                <div class="content-title">
                    <label class="label cloud_gist">gist</label>
                    <span class="fa fa-cloud fa-5x cloud"></span>
{#                    <span class="fa fa-cog fa-spin fa-1x"></span> work in progress#}
                </div>
                <svg height="100" width="500" xmlns="http://www.w3.org/2000/svg">
                    <rect class="shape" height="100" width="500"/>
                </svg>
                <div class="collapse" id="collapseExample">
                    <br/>

                    <div class="well" style="opacity: 0.3;color: green;">
                        <p>This is a sentiment analysis project. More soon!</p>

                        <p>
                        </p>

                        <p>

                        </p>
                    </div>
                </div>
            </div>
            </div>
            </div>

            <div class="info">
                <a data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                    <span id="info_icon" class="fa fa-info-circle fa-2x" style="color:#2c3e50;"></span>
                </a>
            </div>
        </div>
    </div>

{% endblock container %}