{% extends "masterpage.html" %}
{% block container %}
    {#<form method="POST" action="/accounts/login/">#}
    {#   {% csrf_token %}#}
    {#   <input type="hidden" name="next" value="{{ next }}" />#}
    {#   {{ login_form }}#}
    {#   <input type="submit">#}
    {#</form>#}
    <div class="background_img_main"></div>
    <div class="container-fluid main_text">
    <form method="post">
        {% csrf_token %}
        <div class="panel panel-primary panel_">
            <div class="panel-heading panel_header">Login</div>
            <div class="panel-body transparent">
                <div class="row">
                <div class="col col-md-4 col-md-push-4 col_top20">
                    <table class="table">
                        <thead>
                        </thead>
                        <tr>
                            <td><label>Username:</label></td>
                            <td><input name="username" type="text"></td>
                        </tr>
                        <tr>
                            <td><label>Password:</label></td>
                            <td><input name="password" type="password"></td>
                        </tr>

                        <tr>
                            <td>

                            </td>
                            <td>
                             <input type="submit" value="Login" class="btn btn-primary panel_header"/>
                                <input type="hidden" name="next" value="{{ next }}"/>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="panel-footer panel_">
            {% if Errors %}
            <span class="col col-md-4 col-md-push-4 error_">{{ Errors }}</span>
            {% endif %}
            </div>
            </div>


        </div>
    </form>
    </div>
{% endblock %}