{% extends "masterpage.html" %}
{% block container %}
 <div class="background_img_main"></div>
    <form method="post">
        {% csrf_token %}
    <div class="container-fluid main_text">
    <div class="panel panel-primary panel_">
    <div class="panel-heading panel_header">
        Register
    </div>
    <div class="panel-body transparent">
        <div class="row">
            <div class="col col-md-4 col-md-push-4">
                <div class="col col-md-12">
                    <div class="row row_top15">
                        <div class="col col-md-2">
                                </div>
                        <div class="col col-md-10">
                            <label for="username"><i class="fa fa-asterisk" style="color:red"></i></label>
                            <input type="text" id="username" name="username" placeholder="Username">
                             </div>
                    </div>
                <div class="row row_top15">
                <div class="col col-md-12">
                    <div class="row">
                        <div class="col col-md-2">

                            </div>
                        <div class="col col-md-10">
                             <label for="password"><i class="fa fa-asterisk" style="color:red"></i></label>
                            <input type="password" id="password" name="password" placeholder="Password">
                            </div>
                    </div>
                </div>
            </div>
            <div class="row row_top15">
                <div class="col col-md-12">
                    <div class="row">
                        <div class="col col-md-2">

                            </div>
                        <div class="col col-md-10">
                           <label for="email"><i class="fa fa-asterisk" style="color:red"></i></label>
                            <input type="text" id="email" name="email" placeholder="user@mail.com">
                            </div>
                    </div>
                </div>
            </div>
            <div class="row row_top15">
                <div class="col col-md-12">
                    <div class="row">
                        <div class="col col-md-2">
                            <label for="first_name"></label>
                        </div>
                        <div class="col col-md-10">
                             <label for="username"><i class="fa fa-check"></i></label>
                            <input type="text" id="first_name" name="first_name" placeholder="Name">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row row_top15">
                <div class="col col-md-12">
                    <div class="row">
                        <div class="col col-md-2">
                        </div>
                        <div class="col col-md-10">
                             <label for="username"><i class="fa fa-check"></i></label>
                            <input type="text" id="last_name" name="last_name" placeholder="Surname">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row row_top15">
                <div class="col col-md-12">
                    <label></label>
                </div>
            </div>
            <div class="row row_top15">
                <div class="col col-md-4 col-md-push-4">
                    <button type="submit" class="btn btn-primary panel_header">Register</button>
                </div>
            </div>
        </div>
        </div>
    </div>
    {% if Errors %}
        <div class="panel-footer panel_">
        <span class="col col-md-4 col-md-push-4 error_">{{ Errors }}</span>
        </div>
    {% endif %}
    </div>
    </div>
    </div>
    </form>
{% endblock container %}