{% block scripts %}
    <script type="text/javascript" src="../static/js/task_info.js"></script>
{% endblock scripts %}
{% block main_content %}

        <h1 class="page-header" id="task_info_title">SemEval-2015 Task 11: <p>Sentiment Analysis of Figurative Language in Twitter</p></h1>

        <div class="panel panel-primary" style="padding: 50px;" id="diagrams_container">
            <div class="panel-body">
                <div class="row">
                    <div class="col col-lg-12 caption">
                        <p>

                        <h3>TASK DESCRIPTION</h3>
                        The task concerns itself with the classification of tweets containing irony and metaphors.
                        Our trial, training and test data will contain a concentrated amount of these phenomena to
                        evaluate the degree to which conventional sentiment analysis can handle creative language, and
                        to determine whether systems that explicitly model these phenomena demonstrate a marked increase
                        in competence.
                        So, given a set of tweets that are rich in metaphor and irony, the goal is to determine whether
                        the user has expressed a positive, negative or neutral sentiment in each, and the degree to
                        which this sentiment has been communicated.
                        We will use a fine-grained sentiment scale to capture the effect of irony and figurativity on
                        the perceived sentiment of a tweet, and participating systems must assign sentiment scores from
                        the same fine-grained scale to each of the tweets they are given.
                        </p>
                        <p>

                        <h3>APPROACH TO EVALUATION</h3>
                        Participant systems will be required to provide a fine-grained sentiment score (between -5 to
                        +5) for each tweet in the test set.
                        These predicted scores will be compared to the weighted average of scores provided by human
                        annotators (elicited via the crowd-sourcing platform CrowdFlower).
                        A vector space will be used to evaluate the similarity of the predictions of each participating
                        system to the human-annotated gold standard.
                        The list of expected gold-standard sentiment scores will be used to construct a normalized
                        gold-standard vector, while a comparable vector will be constructed from the predictions of a
                        participating system.
                        The cosine distance between vectors will then be used as a measure of how well the participating
                        system estimates the gold-standard sentiment scores for the whole of the test set.
                        Importantly, this means that a system need not replicate the exact scores of the gold-standard
                        to score well overall. Evaluation is continuous, not discrete, and is forgiving of minor
                        differences.
                        If two systems consistently predict the wrong scores, but one is consistently closer to the
                        gold-standard than the other (e.g. predicting -3.1 for a tweet to which annotators have assigned
                        a weighted score of -4.2),
                        then the system that is consistently closer will obtain the highest evaluation score.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row placeholders">
            </div>
        </div>
{% endblock main_content %}